<meta charset="utf-8">
<title>Gayelord Hauser | Diététicien</title>

<%# Responsive meta-tag %>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%# Link to fonts %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900">

<%# Link to css %>
<link rel="stylesheet" href="/css/main.css">
