<!DOCTYPE html>
<html lang="fr">
<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="center-container" id="index">
    <img src="/img/logo.png" alt="" class="logo">
    <nav>
      <a href="/landing">
        <div class="img form"></div>
        <h2>Recherche intuitive</h2>
        <p>
          Outil permettent d'effectuer une recherche de façon intuitive en complétant une phrase à trous
        </p>
      </a>
      <a href="/rayon-sans-allergene">
        <div class="img rayon"></div>
        <h2>Les grandes surfaces des allergiques</h2>
        <p>
          Application interactive visant à sensibiliser aux allergènes les plus communs
        </p>
      </a>
    </nav>
  </div>

  <% include ../partials/scripts %>
</body>
</html>
